<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/root.css" />
    {{#if cssFile}}
      <link rel="stylesheet" href="/css/{{cssFile}}" />
    {{/if}}
  </head>

  <body>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>

    {{{body}}}
    {{#if jsFile}}
      <script src="/js/{{jsFile}}"></script>
    {{/if}}
  </body>

</html>