<div class="container-fluid">
    {{> Nav/storageNav}}
    <div class="row">
        <div class="col-12 col-md-3 tabs">
            <div class="nav flex-column nav-pills" id="v-pills-tab"
                role="tablist"
                aria-orientation="vertical">
                <div class="card w-100 h-100 border border-0">
                    <div class="card-body">
                        <button id="dashboard" class="w-100 text-start nav-link mb-1 active" data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button" role="tab"
                            aria-controls="v-pills-dashboard" aria-selected="true"><i
                                class="fa-solid fa-house me-2"></i>Dashboard</button>
                        <button id="brand" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-brands fa-bandcamp me-2"></i>Brands</button>
                        <button id="type" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-layer-group me-2"></i>Types</button>
                        <button id="car" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-car me-2"></i>Cars</button>
                        <button id="ap" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-gears me-2"></i>Auto
                            Parts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 tab_content">
            <div class="card-body p-3 bg-white" id="mainContent">

            </div>
        </div>
    </div>
</div>