<div class="container-fluid">
    {{> Nav/saleNav}}
    <div class="row">
        <div class="col-12 col-md-3 gy-2 tabs">
            <div class="nav flex-column nav-pills h-100" id="v-pills-tab"
                role="tablist" aria-orientation="vertical">
                <div class="card w-100 border border-0 h-100">
                    <div class="card-body">
                        <button id="dashboard"
                            class="w-100 text-start nav-link active mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button"
                            role="tab"
                            aria-controls="v-pills-dashboard"
                            aria-selected="true"><i
                                class="fa-solid fa-house me-2"></i>
                            Dashboard</button>
                        <button id="report"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-regular fa-file-lines me-3"></i>Report</button>
                        <button id="sale-invoices"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice-dollar me-3"></i>Sale
                            Invoices</button>
                        <button id="fix-invoices"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice me-3"></i>Fix
                            Invoices</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 gy-2 tab_content">
            <div
                class="card-body h-100 p-3 bg-white d-flex flex-column"
                id="mainContent">
                <div class="row row-cols-md-4 row-cols-1 gx-3 gy-2 mb-3">
                    <div>
                        <div
                            class="single_quick_activity rounded-4 fw-bold text-light h-100 px-3 py-4 d-flex flex-column justify-content-between"
                            style="background: #3b76ef">
                            <p>Total Sale Income</p>
                            <span class="fs-4">💰 $<span class="counter"
                                    id="saleTotal"></span></span>
                        </div>
                    </div>
                    <div>
                        <div
                            class="single_quick_activity rounded-4 fw-bold text-light h-100 px-3 py-4 d-flex flex-column justify-content-between"
                            style="background-color:#10b2d3">
                            <p>Total Fix Income</p>
                            <span class="fs-4">⚙ $<span class="counter"
                                    id="fixTotal"></span></span>
                        </div>
                    </div>
                    <div>
                        <div
                            class="single_quick_activity rounded-4 fw-bold text-light h-100 px-3 py-4 d-flex flex-column justify-content-between"
                            style="background-color:#6f42c1">
                            <p>Number of Products</p>
                            <span class="fs-4">🚗 <span class="counter"
                                    id="noCar"></span></span>
                        </div></div>
                    <div>
                        <div
                            class="single_quick_activity rounded-4 fw-bold text-light h-100 px-3 py-4 d-flex flex-column justify-content-between"
                            style="background-color:#20c997">
                            <p>Number of Customer</p>
                            <span class="fs-4">👨 <span class="counter"
                                    id="noCus"></span></span>
                        </div>
                    </div>
                </div>

                {{!-- Charts --}}
                <div class="row row-cols-md-2 row-cols-1 gx-3 gy-2 my-5">
                    <div class="col h-md-100">
                        <div class="chartBackground h-100">
                            <div class="row p-4">
                                <div class="col-12 row gx-2 gy-2 p-4">
                                    <div
                                        class="ms-auto col-auto d-flex align-items-center">
                                        <div class="form-contain">
                                            Last
                                        </div>
                                    </div>
                                    <div class="col-4 mx-1">
                                        <div class="form-contain">
                                            <input type="number" value="3"
                                                id="limit"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button
                                                class="btn dropdown-toggle w-100 border"
                                                id="dropdownBtn" data-n="day"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">day</button>
                                            <ul class="dropdown-menu"
                                                style="list-style-type: style none;">
                                                <li><a class="dropdown-item"
                                                        href="#">day</a></li>
                                                <li><a class="dropdown-item"
                                                        href="#">month</a></li>
                                                <li><a class="dropdown-item"
                                                        href="#">year</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" id="chart1Con"
                                    style="overflow-x:visible;">
                                    <canvas id="chart1"></canvas>
                                </div>
                                <span class="col-12"
                                    style="font-size: 15px;color:red">*revenue</span>
                            </div>
                        </div>
                    </div>
                    <div class="col h-md-100">
                        <div class="chartBackground h-100">
                            <div
                                class="row p-4">
                                <div class="col-12"
                                    style="overflow-x:visible;">
                                    <canvas
                                        id="chart2"></canvas>
                                </div>
                                <span class="col-12"
                                    style="font-size: 15px;color:red">*car</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>