<div class="container-fluid">
    {{> Nav/saleNav}}
    <div class="row">
        <div class="col-12 col-md-3 gy-2 tabs">
            <div class="nav flex-column nav-pills h-100" id="v-pills-tab"
                role="tablist" aria-orientation="vertical">
                <div class="card w-100 border border-0 h-100">
                    <div class="card-body">
                        <button id="dashboard"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button"
                            role="tab"
                            aria-controls="v-pills-dashboard"
                            aria-selected="true"><i
                                class="fa-solid fa-house me-2"></i>
                            Dashboard</button>
                        <button id="report"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-regular fa-file-lines me-3"></i>Report</button>
                        <button id="sale-invoices"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice-dollar me-3"></i>Sale
                            Invoices</button>
                        <button id="fix-invoices"
                            class="w-100 text-start nav-link mb-1 active"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice me-3"></i>Fix
                            Invoices</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 gy-2 tab_content">
            <div class="card-body h-100 p-3 bg-white d-flex flex-column"
                id="mainContent">
                <h1 class="textSuccess m-2">Preview Invoice</h1>
                <div>
                    <embed src="data:application/pdf;base64,{{pdfData}}"
                        type="application/pdf" width="100%"
                        height="600px">
                </div>
            </div>
        </div>
    </div>
</div>