<div id="popupWindow" class="z-3 w-50  d-none">
</div>

<div class="overlay z-2 d-none" id="overplay"></div>

<div class="container-fluid">
    {{> Nav/guestNav}}
    <div class="mb-3 mt-3">
        <button onclick="backToPrePage()" type="button" class="btn btn-primary bgPrimary">
            <i class="fa-solid fa-chevron-left"></i> Back
        </button>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="row mb-2">
            <div class="card border-0">
                <div class="card-body ">
                    <h4 class="card-title fw-bold fs-5 textPrimary">Register</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="inputCarPlate" class="form-label no-wrap me-3">Car-plate</label>
                        <input type="text" class="form-control w-75 me-3" id="inputCarPlate"
                            aria-describedby="carPlateHelp" placeholder="68K2-XXXXX">
                        <a type="button" id="registerButton" class="btn btn-primary w-25">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="card border-0">
                <div class="card-body">
                    <div class="d-flex flex-start justify-content-center align-items-center mb-3">
                        <h4 class="card-title fw-bold fs-5 textPrimary me-3">History</h4>
                        <input id="carPlateInput" type="text" class="form-control me-auto w-50 rounded-pill"
                            placeholder="Search by car-plate ">;
                    </div>
                    <div style="height: 20rem;">
                        <table class="table  table-hover" >
                            <thead class="table-info" id="tbHeader">
                                <tr class="text-center">
                                    <th scope="col" style="width: 5%;">#</th>
                                    <th scope="col" style="width: 15%;">car_plate</th>
                                    <th scope="col" style="width: 30%;">date</th>
                                    <th scope="col" style="width: 10%;">total_price</th>
                                    <th scope="col" style="width: 20%;">status</th>
                                    <th scope="col" style="width: 20%;">pay</th>
                                </tr>
                            </thead>
                            <tbody id="tbBody">
                            </tbody>
                        </table>
                    </div>
                    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" onclick="prePage(event)" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" id="PageInfo"></a></li>
                            <li class="page-item">
                                <a class="page-link" onclick="nextPage(event)" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    {{> footer}}
</div>
{{#if userId}}
<script>
    let userId = {{ userId }}
</script>
{{/if}}

{{#if nameOfUser}}
<script>
    let nameOfUser = "{{nameOfUser}}"
    let adminId = {{ adminId }}
</script>
{{/if }}