<link rel="stylesheet" href="/css/nav.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid bg-white p-3">
        <a class="navbar-brand fw-bold fs-3 textDanger" href="/dashboard">SGX
            Auto - Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto userInfo ">
                <li
                    class="nav-item dropdown d-flex flex-column align-items-end">
                    <a class="nav-link dropdown-toggle" href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="no-wrap me-2">{{nameOfUser}}</span>
                        <img
                            src="https://th.bing.com/th/id/R.8b167af653c2399dd93b952a48740620?rik=%2fIwzk0n3LnH7dA&pid=ImgRaw&r=0"
                            class="rounded-circle p-3"
                            style="width: 80px; height: 80px;" />
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end p-2">
                        <li>
                            <form action='/logout'
                                method="POST">
                                <button type='submit'
                                    class="btn inlineDanger w-100">
                                    Log out <i
                                        class="fa-solid fa-right-from-bracket"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>